[submodule "mud"]
	path = mud
	url = https://github.com/angt/mud.git
	ignore = dirty
[submodule "argz"]
	path = argz
	url = https://github.com/angt/argz.git
	ignore = dirty
[submodule "external/libsodium"]
	path = external/libsodium
	url = https://github.com/jedisct1/libsodium.git
